<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
      <a href="/dashboard" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
      </a>
    </li>

    {% if user_modules %}
      {% set all_modules = modules | selectattr('id', 'in', user_modules) | selectattr('id', 'in', [1, 2, 3, 4]) | list %}
      {% if all_modules %}
        <li class="nav-header">Administrator Tools</li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              Setting
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            {% for m in all_modules %}
              <li class="nav-item">
                <a href="/{{ m.url }}" class="nav-link">
                  <i class="nav-icon fa {{ m.icon }}"></i>
                  <p>{{ m.name }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
